@import url("https://fonts.googleapis.com/css?family=Amita&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Amita", cursive;
  background: url("./assets/img.jpg") center/cover no-repeat;
}

body {
  height: 100vh;
}
